/* html,
body {
  height: 100vh;
  overflow-y: hidden;
} */

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.5s;
}

.henny {
  font-family: "Henny Penny", cursive !important;
}

.little-logo {
  color: #483d8b;
  font-size: xx-large;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

h1 {
  font-weight: 500;
  color: #483d8b;
  font-size: 5rem;
  transition: color 0.5s;
  font-family: "Henny Penny", cursive;
}

.dark {
  color: #aca7c8 !important;
}

h2 {
  font-weight: 500;
  color: #483d8b;
  font-size: 64px;
  /* margin: 0px 0px -5px 25px; */
  text-align: center;
  transition: color 0.5s;
  font-family: "Henny Penny", cursive;
}

h3 {
  font-weight: 500;
  color: black;
  font-size: 2rem;
  margin: 10px 10px 10px 10px;
  transition: color 0.5s;
}

.alpha {
  opacity: 25%;
}

/* body {
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  transition: background-color 0.5s;
} */

.body {
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  width: 100%;
  height: 100vh;
}

.body-dark {
  background-color: #191632;
}

.quizzical-container {
  display: flex;
  background-color: #dad8e7;
  width: 100%;
  border-radius: 20px;
  user-select: none;
  transition: background-color 0.5s;
  position: relative;
  overflow-y: hidden;
}

.quizzical-container-big {
  display: flex;
  flex-direction: column;
  height: 95vh;
  max-width: 60vmax;
  overflow-x: hidden;
}

.quizzical-container-condensed {
  max-width: 50vmax;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 5%;
}

.quizzical-container-auto {
  height: auto;
  width: 100%;
}

.quizzical-container-finish {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

.quizzical-container-dark {
  background-color: #35304f;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-score {
  font-size: 8rem;
  margin: 5rem;
  color: #483d8b;
}

.score {
  font-size: 3rem;
  margin: 2rem;
  color: #483d8b;
}

.small-text {
  font-size: 1rem;
  font-weight: 250;
  margin-top: 4rem;
  text-align: center;
  color: black;
  transition: color 0.5s;
}

.small-text-dark {
  color: #aca7c8;
}

.quiz-question {
  margin: 5px;
  background-color: #dad8e7;
  transition: background-color 0.25s;
}

.quiz-question:hover {
  background-color: #e1dfeb;
}

.quiz-question-dark {
  background-color: #35304f;
}

.quiz-question-dark:hover {
  background-color: #403a5f;
}

.quiz-cat {
  font-size: 18px;
  border: 1px solid darkgray;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
  padding: 5px;
  font-weight: 700;
  opacity: 100%;
  transition: opacity 0.5s;
  /* max-width: fit-content; */
}

.quiz-cat-dark {
  opacity: 50%;
}

.question-buttons {
  display: flex;
  justify-content: center;
}

.question-container {
  overflow-y: auto;
  height: 75vmin;
}

.answer {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0.25em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset,
    0 0 0 0 rgb(34 36 38 / 15%) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease,
    color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
}

.answer-grey {
  background-color: #767676;
  color: black;
  text-shadow: none;
}

.answer-grey:hover {
  background-color: #838383;
}

fieldset {
  border: none;
}

.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 85%;
}

hr {
  border: 1px solid #a39ec5;
}

.splash-text {
  font-size: 14px;
  transition: color 0.5s;
}

.blob {
  transition: fill 0.5s;
}

/* Google chrome */
@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    /* fill: #483d8b; */
  }
  100% {
    stroke-dashoffset: 0;
    /* fill: #483d8b; */
  }
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    /* fill: #483d8b; */
  }
  100% {
    stroke-dashoffset: 0;
    /* fill: #483d8b; */
  }
}

.splash-logo {
  user-select: none;
  transition: fill 0.5s;
}

.quizzical-modal {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vmin;
  height: 70%;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
  z-index: 999;
  align-items: flex-start;
}

.quizzical-modal-header {
  display: flex;
}

.quizzical-modal-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: center;
}

.quizzical-modal-content {
  margin: 4rem 0 4rem 0;
  width: 100%;
  height: 75%;
  font-size: 1.5rem;
  overflow-y: auto;
  line-height: 1.7rem;
}

.modal-fade {
  width: 80vmin;
  height: 0;
  transform: translateY(-100px);
}

.modal-open {
  user-select: none;
  pointer-events: none;
  scroll-behavior: none;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 995;
}

@media all and (max-width: 800px) {
  #header-buttons,
  #little-logo {
    display: flex;
    flex-direction: column;
    float: none;
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  .question-container {
    height: 90vh;
  }
}

.topBar {
  position: fixed;
  top: 0;
  width: 50vmax;
  height: 4rem;
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0 1px 10px black;
  padding: 0.25rem;
  text-align: center;
  z-index: 2;
}

.slide {
  transform: translateY(-3rem);
}

.icon-button {
  user-select: none;
  cursor: pointer;
}
