/* html,
body {
  height: 100vh;
  overflow-y: hidden;
} */

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.5s;
}

.henny {
  font-family: "Henny Penny", cursive !important;
}

.little-logo {
  color: #483d8b;
  font-size: xx-large;
  margin: 1.5rem;
  padding-left: 0.75rem;
}

h1 {
  font-weight: 500;
  color: #483d8b;
  font-size: 76px;
  transition: color 0.5s;
  font-family: "Henny Penny", cursive;
  z-index: 999;
}

.dark {
  color: #aca7c8 !important;
}

h2 {
  font-weight: 500;
  color: #483d8b;
  font-size: 64px;
  /* margin: 0px 0px -5px 25px; */
  text-align: center;
  transition: color 0.5s;
  font-family: "Henny Penny", cursive;
}

h3 {
  font-weight: 500;
  color: black;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  transition: color 0.5s;
}

.alpha {
  opacity: 25%;
}

/* body {
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  transition: background-color 0.5s;
} */

.body {
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  width: 100%;
  height: 100vh;
}

.body-dark {
  background-color: #191632;
}

.container {
  display: flex;
  background-color: #dad8e7;
  width: 100%;
  border-radius: 20px;
  user-select: none;
  transition: background-color 0.5s;
  position: relative;
  overflow-y: hidden;
}

.container-big {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 600px;
  overflow-x: hidden;
}

.container-condensed {
  min-width: 350px;
  max-width: 400px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 5%;
}

.container-auto {
  height: auto;
  width: 100%;
}

.container-finish {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.container-dark {
  background-color: #35304f;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-normal {
  border: none;
  min-width: 150px;
  min-height: 50px;
  border-radius: 8px;
  background-color: #483d8b;
  color: white;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  transition: background-color 0.25s;
  font-size: 1.25em;
  margin: 0px 5px 0px 5px;
}

.button-normal:hover {
  background-color: #766ea8;
}

.button-normal:focus {
  outline: none;
}

.button-normal:active {
  outline: none;
}

.button-normal-dark {
  color: #aca7c8;
  background-color: #191632;
}

.button-lite {
  border: 1px solid #2d2a4c;
  min-width: 150px;
  min-height: 50px;
  border-radius: 8px;
  background-color: transparent;
  color: #2d2a4c;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  transition: background-color 0.25s;
  font-size: 1.25em;
  margin: 0px 5px 0px 5px;
}

.button-lite:hover {
  background-color: rgba(118, 110, 168, 0.5);
  color: #766ea8;
}

.button-lite:focus {
  outline: none;
}

.button-lite:active {
  outline: none;
}

.button-lite-dark {
  color: #aca7c8;
  border: 1px solid #a39ec5;
}

.big-score {
  font-size: 8rem;
  margin: 5rem;
  color: #483d8b;
}

.score {
  font-size: 3rem;
  margin: 2rem;
  color: #483d8b;
}

.small-text {
  font-size: 12px;
  font-weight: 250;
  margin-top: 25%;
  text-align: center;
  color: black;
  transition: color 0.5s;
}

.small-text-dark {
  color: #aca7c8;
}

select {
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  text-indent: 10px;
  margin: 10px;
  background-color: darkslateblue;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  outline: none;
  transition: background-color 0.25s;
}

select:hover {
  background-color: #766ea8;
}

.quiz-question {
  margin: 5px;
  background-color: #dad8e7;
  transition: background-color 0.25s;
}

.quiz-question:hover {
  background-color: #e1dfeb;
}

.quiz-question-dark {
  background-color: #35304f;
}

.quiz-question-dark:hover {
  background-color: #403a5f;
}

.quiz-cat {
  font-size: 18px;
  border: 1px solid darkgray;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
  padding: 5px;
  font-weight: 700;
  opacity: 100%;
  transition: opacity 0.5s;
  max-width: fit-content;
}

.quiz-cat-dark {
  opacity: 50%;
}

.question-buttons {
  display: flex;
  justify-content: center;
}

.question-container {
  overflow-y: auto;
  max-height: 45vh;
}

.answer {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0.25em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset,
    0 0 0 0 rgb(34 36 38 / 15%) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease,
    color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
}

.answer-grey {
  background-color: #767676;
  color: black;
  text-shadow: none;
}

.answer-grey:hover {
  background-color: #838383;
}

fieldset {
  border: none;
}

.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 85%;
}

hr {
  border: 1px solid #a39ec5;
}

.splash-text {
  font-size: 14px;
  transition: color 0.5s;
}

.blob {
  transition: fill 0.5s;
}

/* Google chrome */
@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    /* fill: #483d8b; */
  }
  100% {
    stroke-dashoffset: 0;
    /* fill: #483d8b; */
  }
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    /* fill: #483d8b; */
  }
  100% {
    stroke-dashoffset: 0;
    /* fill: #483d8b; */
  }
}

.splash-logo {
  user-select: none;
  transition: fill 0.5s;
}
